.main{
  display: flex;
  gap:2rem;
  padding: 3rem;
 
}
.Skills{
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}
.Projects{
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
}
.Contact{
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
}
.typo{
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}

