@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit&display=swap');

.portt:hover{
      color: black;
}

.List{
  width:20% ;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-size: larger;

}
p > *{
  text-decoration: none;
}

