@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');





.List{
  width:20% ;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;  

}
p > *{
  text-decoration: none;
}

.port{
  font-family: 'Kanit', sans-serif;
}