
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');

body{
  background-color:aliceblue;
}


.List{
    margin-top: 40px;
    font-size: larger;
    position: sticky;
}